<!-- /add post form -->
<div class="container postForm" >
  <div class="panel panel-default">
    <div class="panel-body">
      <form name="addPostForm" ng-submit="addNewPost(post)" novalidate>
        <div class="form-group">
          <label for="author">Name</label>
          <input type="text" class="form-control" name="name" id="name" ng-model="post.name" ng-class="{'error': addPostForm.author.$invalid && addPostForm.author.$touched}" placeholder="Author Name" required>
        </div>
        <div class="form-group">
          <label for="description">Your Thoughts</label>
          <input type="text" class="form-control" name="post" id="post" ng-model="post.post" ng-minlength="5" ng-maxlength="255" ng-class="{'error': addPostForm.description.$invalid && addPostForm.description.$touched}" required placeholder="Description">
        </div>
        <button type="submit" class="btn btn-default" value="post">Add Post</button>
      </form>
    </div>
  </div>
</div>
<!--post container  -->
<div class="container post-container">
  <div class="row">
    <div class="panel panel-default" ng-repeat="post in posts">
      <div class="panel-body">
        <ul class="media-list">
          <li class="media post-item">
            <div class="media-left">
              <img class="media-object" src="http://ia.media-imdb.com/images/M/MV5BMTkxMzk2MDkwOV5BMl5BanBnXkFtZTcwMDAxODQwMg@@._V1_UX214_CR0,0,214,317_AL_.jpg" alt="picture of Jason!">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{post.post}}

              </h4>
              <p class="pull-right author">
                <strong> By: {{post.name}} </strong>
                <span><a type="submit" href="#/comments" ng-click="deletePost()" class="btn btn-default" value="post.id">Delete Post</a><span>
              </p>
              <p class="clear description">
                {{post.description}}
              </p>
              <p>
                <span class="glyphicon glyphicon-calendar"></span>
                {{formatDate(post.date)}} |
                <span ng-click="toggleCommmentsShow(post)">
                  <span class="glyphicon glyphicon-comment"></span>
                  <ng-pluralize count="post.comments.length" when="{1: '1 comment', 'other': '{{ post.comments.length }} comments'}"></ng-pluralize>
                  |
                </span>
                <span ng-click="toggleAddCommmentShow(post)">
                  <span class="glyphicon glyphicon-pencil"></span>
                  Add comment
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
